<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.besscroft.pisces.admin.mapper.MenuMapper">

    <resultMap id="menuMap" type="com.besscroft.pisces.framework.common.entity.Menu">
        <result column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="title" property="title"/>
        <result column="name" property="name"/>
        <result column="parent_title" property="parentTitle"/>
        <result column="level" property="level"/>
        <result column="component" property="component"/>
        <result column="redirect" property="redirect"/>
        <result column="path" property="path"/>
        <result column="icon" property="icon"/>
        <result column="is_link" property="isLink"/>
        <result column="is_hide" property="isHide"/>
        <result column="is_full" property="isFull"/>
        <result column="is_affix" property="isAffix"/>
        <result column="is_keep_alive" property="isKeepAlive"/>
        <result column="sort" property="sort"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del" property="del"/>
    </resultMap>

    <sql id="menuVo">
        id, parent_id, title, name, parent_title, level, component, redirect, path, icon, is_link, is_hide, is_full, is_affix, is_keep_alive, sort, creator, updater, create_time, update_time, del
    </sql>

    <select id="getAllByUserId" resultSets="java.util.List" resultMap="menuMap">
        SELECT
            pam.id,
            pam.parent_id,
            pam.title,
            pam.name,
            pam.parent_title,
            pam.level,
            pam.component,
            pam.redirect,
            pam.path,
            pam.icon,
            pam.is_link,
            pam.is_hide,
            pam.is_full,
            pam.is_affix,
            pam.is_keep_alive,
            pam.sort,
            pam.creator,
            pam.updater,
            pam.create_time,
            pam.update_time,
            pam.del
        FROM
            pisces_auth_menu pam
        INNER JOIN
            pisces_auth_role_menu parm
        ON
            pam.id = parm.menu_id
        INNER JOIN
            pisces_auth_user_role paur
        ON
            parm.role_id = paur.role_id
        INNER JOIN
            pisces_auth_user pau
        ON
            paur.user_id = pau.id
        WHERE
            pam.del = 1
        AND
            pau.del = 1
        AND
            pau.id = #{userId}
        ORDER BY pam.sort
    </select>

    <select id="selectAllByQueryKey" resultSets="java.util.List" resultMap="menuMap">
        SELECT
            <include refid="menuVo"/>
        FROM
            pisces_auth_menu
        WHERE
            del = '1'
        <if test="queryKey != null and queryKey != ''">
            AND (
                title LIKE CONCAT('%', #{queryKey} ,'%')
                OR
                name LIKE CONCAT('%', #{queryKey} ,'%')
            )
        </if>
        ORDER BY sort
    </select>

    <update id="updateStatusById">
        UPDATE
            pisces_auth_menu
        SET
            is_hide = #{isHide}
        WHERE
            id = #{menuId}
    </update>

    <update id="UpdateDelById">
        UPDATE
            pisces_auth_menu
        SET
            del = '0'
        WHERE
            id = #{menuId}
    </update>

    <select id="findAllByRoleId" resultSets="java.util.List" resultMap="menuMap">
        SELECT
            pam.id,
            pam.parent_id,
            pam.title,
            pam.name,
            pam.parent_title,
            pam.level,
            pam.component,
            pam.redirect,
            pam.path,
            pam.icon,
            pam.is_link,
            pam.is_hide,
            pam.is_full,
            pam.is_affix,
            pam.is_keep_alive,
            pam.sort,
            pam.creator,
            pam.updater,
            pam.create_time,
            pam.update_time,
            pam.del
        FROM
            pisces_auth_menu pam
        INNER JOIN
            pisces_auth_role_menu parm
        ON
            pam.id = parm.menu_id
        WHERE
            pam.del = '1'
        AND
            parm.role_id = #{roleId}
    </select>

</mapper>
