<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.besscroft.pisces.admin.mapper.ResourceMapper">

    <resultMap id="resourceMap" type="com.besscroft.pisces.framework.common.entity.Resource">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="description" property="description"/>
        <result column="category_id" property="categoryId"/>
        <result column="sort" property="sort"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del" property="del"/>
        <result column="route_key" property="routeKey"/>
    </resultMap>

    <sql id="resourceVo">
        id, name, url, description, category_id, sort, creator, updater, create_time, update_time, del, route_key
    </sql>

    <select id="selectAllByQueryKey" resultSets="java.util.List" resultMap="resourceMap">
        SELECT
            <include refid="resourceVo"/>
        FROM
            pisces_auth_resource
        WHERE
            del = '1'
        <if test="queryKey != null and queryKey != ''">
            AND
            (
                name LIKE CONCAT('%', #{queryKey} ,'%')
            OR
                url LIKE CONCAT('%', #{queryKey} ,'%')
            )
        </if>
    </select>

    <select id="findAllByRoleId" resultSets="java.util.List" resultMap="resourceMap">
        SELECT
            par.id,
            par.name,
            par.url,
            par.description,
            par.category_id,
            par.sort,
            par.creator,
            par.updater,
            par.create_time,
            par.update_time,
            par.del,
            par.route_key
        FROM
            pisces_auth_resource par
        INNER JOIN
            pisces_auth_role_resource parr
        ON
            par.id = parr.resource_id
        WHERE
            par.del = '1'
          AND
            parr.role_id = #{roleId}
    </select>

</mapper>
