<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.besscroft.pisces.admin.mapper.ResourceMapper">

    <resultMap id="resourceMap" type="com.besscroft.pisces.admin.entity.Resource">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="description" property="description"/>
        <result column="category_id" property="categoryId"/>
        <result column="sort" property="sort"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del" property="del"/>
    </resultMap>

    <sql id="resourceVo">
        id, name, url, description, category_id, sort, creator, updater, create_time, update_time, del
    </sql>



</mapper>