<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.besscroft.pisces.admin.mapper.ResourceCategoryMapper">

    <resultMap id="resourceCategoryMap" type="com.besscroft.pisces.framework.common.entity.ResourceCategory">
        <result column="id" property="id"/>
        <result column="category_name" property="categoryName"/>
        <result column="description" property="description"/>
        <result column="sort" property="sort"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del" property="del"/>
    </resultMap>

    <sql id="resourceCategoryVo">
        id, category_name, description, sort, creator, updater, create_time, update_time, del
    </sql>

    <select id="selectAllByQueryKey" resultSets="java.util.List" resultMap="resourceCategoryMap">
        SELECT
            <include refid="resourceCategoryVo"/>
        FROM
            pisces_auth_resource_category
        WHERE
            del = '1'
        <if test="queryKey != null and queryKey != ''">
            AND category_name LIKE CONCAT('%', #{queryKey} ,'%')
        </if>
    </select>

</mapper>
